@mixin borderRadiusOverflowHidden($radius) {
  border-radius: $radius;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: -webkit-radial-gradient(white, black);
}

@mixin focus-visible {
  &:focus-visible {
    box-shadow: 0px 0px 0px 1px var(--white-faded);
  }
}

@mixin text-outline($size: 1px) {
  text-shadow: 0 0 $size black, 0 0 $size black, 0 0 $size black, 0 0 $size black;
}